@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .control-button {
    @apply p-3 bg-orange-300 hover:bg-orange-500 text-white;
  }

  .profile-item {
    @apply flex w-full flex-col 2xl:flex-row gap-1 text-xs 2xl:text-base;
  }
}

@font-face {
  font-family: 'Schwifty';
  src: url("./assets/fonts/SHLOP.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Schwifty';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.tooltip {
  position: relative;
  display: block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}